Repository oleg-github-collab/KooKooha: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-vars, check-api-docs

check-env-vars:
  name: Check environment variables documentation
  entry: bash -c 'python scripts/check_env_vars.py'
  language: system
  pass_filenames: false

check-api-docs:
  name: Check API documentation
  entry: bash -c 'python scripts/check_api_docs.py'
  language: system
  pass_filenames: false

Organize project structure
  .env.example
  frontend/index.html
  frontend/main.js
  frontend/styles.css
  pyproject.toml
Due: check-env-vars

Add package init and ensure newline at EOF
  README.md
  app/__init__.py
  app/auth.py
  app/config.py
  app/database.py
  app/main.py
  app/models.py
  app/routes/__init__.py
  app/routes/admin.py
  app/routes/auth.py
  app/routes/organizations.py
  app/routes/payments.py
  app/routes/responses.py
  app/routes/scheduler.py
  app/routes/surveys.py
  app/scripts/__init__.py
  app/scripts/seed_data.py
  app/services/__init__.py
  app/services/analytics_service.py
  app/services/email_service.py
  app/services/payment_service.py
  app/services/survey_service.py
  app/services/team_import.py
  frontend/index.html
  frontend/main.js
  frontend/styles.css
  pyproject.toml
  requirements.txt
  tests/__init__.py
  tests/conftest.py
  tests/test_auth.py
Due: check-env-vars, check-api-docs

Improve deployment docs and fix app startup
  .env.example
  Dockerfile
  README.md
  app/__init__.py
  app/auth.py
  app/config.py
  app/database.py
  app/main.py
  app/models.py
  app/routes/__init__.py
  app/routes/admin.py
  app/routes/auth.py
  app/routes/organizations.py
  app/routes/payments.py
  app/routes/responses.py
  app/routes/scheduler.py
  app/routes/surveys.py
  app/scripts/__init__.py
  app/scripts/seed_data.py
  app/services/__init__.py
  app/services/analytics_service.py
  app/services/email_service.py
  app/services/payment_service.py
  app/services/survey_service.py
  app/services/team_import.py
  docker-compose.yml
  docs/DEPLOYMENT.md
  docs/ENDPOINTS.md
  docs/ENVIRONMENT.md
  frontend/index.html
  frontend/main.js
  frontend/styles.css
  pyproject.toml
  requirements.txt
  tests/__init__.py
  tests/conftest.py
  tests/test_auth.py
Due: check-env-vars, check-api-docs

Remove TODO comments and fix newline
  app/routes/auth.py
  app/routes/organizations.py
  app/routes/scheduler.py
  app/services/payment_service.py
  app/services/team_import.py
  makefile
Due: check-api-docs

Remove TODO comments and fix newline
  .env.example
  Dockerfile
  README.md
  app/__init__.py
  app/auth.py
  app/config.py
  app/database.py
  app/main.py
  app/models.py
  app/routes/__init__.py
  app/routes/admin.py
  app/routes/auth.py
  app/routes/organizations.py
  app/routes/payments.py
  app/routes/responses.py
  app/routes/scheduler.py
  app/routes/surveys.py
  app/scripts/__init__.py
  app/scripts/seed_data.py
  app/services/__init__.py
  app/services/analytics_service.py
  app/services/email_service.py
  app/services/payment_service.py
  app/services/survey_service.py
  app/services/team_import.py
  docker-compose.yml
  docs/DEPLOYMENT.md
  docs/ENDPOINTS.md
  docs/ENVIRONMENT.md
  frontend/index.html
  frontend/main.js
  frontend/styles.css
  makefile
  pyproject.toml
  requirements.txt
  tests/__init__.py
  tests/conftest.py
  tests/test_auth.py
Due: check-env-vars, check-api-docs

Resolve config conflicts and clean requirements
  .pre-commit-config.yaml
  requirements.txt
Due: none

Ensure pytest config ends with newline
  .env.example
  .pre-commit-config.yaml
  Dockerfile
  README.md
  app/__init__.py
  app/auth.py
  app/config.py
  app/database.py
  app/main.py
  app/models.py
  app/routes/__init__.py
  app/routes/admin.py
  app/routes/auth.py
  app/routes/organizations.py
  app/routes/payments.py
  app/routes/responses.py
  app/routes/scheduler.py
  app/routes/surveys.py
  app/scripts/__init__.py
  app/scripts/seed_data.py
  app/services/__init__.py
  app/services/analytics_service.py
  app/services/email_service.py
  app/services/payment_service.py
  app/services/survey_service.py
  app/services/team_import.py
  docker-compose.yml
  docs/DEPLOYMENT.md
  docs/ENDPOINTS.md
  docs/ENVIRONMENT.md
  frontend/index.html
  frontend/main.js
  frontend/styles.css
  makefile
  pyproject.toml
  pytest.ini
  requirements.txt
  tests/__init__.py
  tests/conftest.py
  tests/test_auth.py
Due: check-env-vars, check-api-docs

Path conditions:
  check-env-vars: any of: ^(app/config\.py|\.env\.example)$, but not: (?x)^(
    \.git/|
    \.tox/|
    \.venv/|
    venv/|
    \.pytest_cache/|
    __pycache__/|
    \.mypy_cache/|
    htmlcov/|
    \.coverage|
    data/|
    logs/|
    backups/|
    emergency-backups/|
    .*\.db$|
    .*\.sqlite$|
    .*\.log$
)

  check-api-docs: any of: ^app/routes/.*\.py$, but not: (?x)^(
    \.git/|
    \.tox/|
    \.venv/|
    venv/|
    \.pytest_cache/|
    __pycache__/|
    \.mypy_cache/|
    htmlcov/|
    \.coverage|
    data/|
    logs/|
    backups/|
    emergency-backups/|
    .*\.db$|
    .*\.sqlite$|
    .*\.log$
)

